body {
    font-family: "Arial", "Meiryo", sans-serif;
    text-align: center;
}
.google-fonts {
    font-family: 'Josefin Sans', sans-serif;
}
html {
    font-size: 20px;
}
h1 {
    font-size: 2rem;
    border-bottom: solid 3px rgb(115, 115, 114);
    text-shadow: 1px 1px 2px rgb(115, 115, 114);
    letter-spacing: 1.2em;

}
.pink {
    color: rgb(225, 192, 203);
}
.blue {
    color: skyblue;
}
#basic .bold {
    font-weight: bold;
}